.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/darwin_arm64/LICENSE.txt
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/darwin_arm64/terraform-provider-google_v6.6.0_x5
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/darwin_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/google/6.6.0/darwin_amd64/terraform-provider-google_v6.6.0_x5
.terraform/modules/*
.terraform/providers/*
.history-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
.history
.backup